  <ul>

    <li><%= link_to '商品一覧', admin_items_path %></li>
    <li><%= link_to '会員一覧', admin_customers_path %></li>
    <li><%= link_to '注文履歴一覧', admin_path %></li>
    <li><%= link_to 'ジャンル一覧', admin_genres_path %></li>
    <li><%= link_to 'ログアウト', destroy_customer_session_path %></li>

  </ul>

  <div class="search_box">
    <input type="text" placeholder="Search">
　</div>

  <h5>商品編集</h5>

  <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>

  <div class = "table">
    <%= f.label "商品画像" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class = "table">
    <%= f.label "商品名" %>
    <%= f.text_field :name %>
  </div>

  <div class = "table">
    <%= f.label "商品説明" %>
    <%= f.text_area :introduction %>
  </div>

  <div class = "table">
    <%= f.label "ジャンル" %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    <!--<= f.select :genre, ['ケーキ', 'プリン', '焼き菓子', 'キャンディ'], {include_blank: '---'} %>-->
  </div>

  <div class = "table">
    <%= f.label "税抜価格" %>
    <%= f.text_field :price %>円
  </div>

  <div class = "table">
    <%= f.label "販売ステータス" %>
    <label><%= f.radio_button :is_active, true %> 販売中 </label>
    <label><%= f.radio_button :is_active, false %> 販売停止中</label>
  </div>

  <div class = "table">
    <%= f.submit "変更を保存", class: "btn btn_sm btn-success" %>
  </div>

  <% end %>

