<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--bootstrap導入のため、linkをpackに書き換える-->
    <!--stylesheet_link_tagをstylesheet_pack_tagに書き換えた理由。
    stylesheet_link_tagの場合、cssファイルは app/assets 配下のファイルを参照し
    stylesheet_pack_tagの場合は app/javascript 配下のファイルを参照するため。-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
　　<% if admin_signed_in? %>
  <ul>
    
    <li><%= link_to '商品一覧', admin_items_path %></li>
    <li><%= link_to '会員一覧', admin_customers_path %></li>
    <li><%= link_to '注文履歴一覧', admin_path %></li>
    <li><%= link_to 'ジャンル一覧', admin_genres_path %></li>
    <li><%= link_to 'ログアウト', destroy_admin_session_path,method: :delete %></li>
    
  </ul>
  
    <% else %>
  
  <ul>
    
    <li><%= link_to 'About', home_about_path %></li>
    <li><%= link_to '商品一覧', admin_items_path %></li>
    <li><%= link_to '新規登録', new_customer_registration_path %></li>
    <li><%= link_to 'ログイン', new_customer_session_path %></li>
    
  </ul>
  
　  <% end %>
  </header>

    <main class="mb-auto">

      <div class="notice">
        <%= flash[:notice] %>
      </div>

    </main>
    <%= yield %>

  </body>

  <footer>
    
  </footer>


</html>
