<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--bootstrap導入のため、linkをpackに書き換える-->
    <!--stylesheet_link_tagをstylesheet_pack_tagに書き換えた理由。
    stylesheet_link_tagの場合、cssファイルは app/assets 配下のファイルを参照し
    stylesheet_pack_tagの場合は app/javascript 配下のファイルを参照するため。-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <% if request.fullpath.include? "/admin" %>
     <!-- admin側のheaderを返す -->
     <%= render 'admin/admin' %>
    <% else %>
     <!-- public側のheaderを返す -->
    <% end %>
  </header>

    <main class="mb-auto">

      <div class="notice">
        <%= flash[:notice] %>
      </div>

    </main>
    <%= yield %>

  </body>

  <footer>

  </footer>


</html>
